<ion-card-header>
  <ion-card-title>Sign up</ion-card-title>
</ion-card-header>
<ion-card-content>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm password</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>

    <ion-button type="submit" [disabled]="signupForm.invalid" expand="block">Sign up</ion-button>
  </form>
  <div>
    <a routerLink="/auth/login">Already have an account?</a>
  </div>
</ion-card-content>

<ion-toast
    [isOpen]="isToastOpen"
    [message]="toastMessage"
    [duration]="5000"
    (didDismiss)="dismissToast()"
  ></ion-toast>
