<ion-card-header>
  <ion-card-title>Update user</ion-card-title>
</ion-card-header>
<ion-card-content>
  <form [formGroup]="updateUserForm" (ngSubmit)="submit()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button type="submit" [disabled]="updateUserForm.invalid" expand="block">Reset password</ion-button>
  </form>
  <div>
    <a routerLink="/auth/signup">Don't have an account?</a>
  </div>
  <div>
    <a routerLink="/auth/login">Already have an account?</a>
  </div>
</ion-card-content>
